@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

@layer utilities {
  .aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%;
  }
  .aspect-h-9 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}